body {
    background-color: black!important
}
.container {
    margin-top: 50px;
    width: 50%!important;
}
.frame {
    background: darkgrey;
    border: 3px solid #363636;
    border-radius: 11px;
    padding: 20px 10px;
}
    #list --> id="list";
#list {
    width: 60%;
    float: left;
    margin-right: 5%;
}
h1 {
    color: #d9d9d9;
}
ul {
    padding: 0 10px;
}
ul li {
    padding: 10px 10px;
    list-style: none;
    margin-bottom: 10px;
    margin-top: 10px;
    border: 1px solid silver;
    border-radius: 5px;
    color: white;
    background: #232324;
}
